*.txt
*csv
makeStructOfCopyStatement/makeStructOfCopyStatement.exe
makeStructOfCopyStatement/output/struct_base.def
makeStructOfCopyStatement/test/occursTest.Code.java
makeStructOfCopyStatement/test/simpleTestCode.java
